@page
@model PedaloWebApp.Pages.Passengers.IndexModel
@{
    ViewData["Title"] = "Passengers";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>

    </thead>
    <tbody>
    </tbody>
</table>

